.banner{
    background-color: #fff;
}
.left-ctn{
    float: left;
    width: 20%;
    border: 1px solid #51A2CD;
    background-color: #51A2CD;
}
.right-ctn{
    float: right;
    width: 79.8%;
    box-sizing: border-box;
}
.top-list{
    line-height: 30px;
    text-align: left;
    padding-left: 10px;
    background-color: #51A2CD;
}
.top-list span{
    background-color: #fff;
}
.list{
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list li{
    width: 80%;
    font-size: 14px;
    padding-left: 20px;
    padding: 10px;
    height: 60px;
    background-color: #fff;
    margin: 10px 0;
    position: relative;
}

.right-ctn{
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    column-rule: #75757568;
}
.right-ctn .lists
.stitle{
    text-align: center;
}