.banner{
    margin-top:20px;
}
.left-ctn{
    float: left;
    width: 20%;
    border: 1px solid #51A2CD;
    background-color: #fff;
}
.right-ctn{
    float: left;
    width: 60%;
}
.top-list{
    line-height: 30px;
    text-align: center;
    background-color: #51A2CD;
}
.top-list span{
    background-color: #fff;
}
.list{
    font-size: 14px;
}
.list li{
    line-height: 30px;
    padding-left: 20px;
    padding: 10px;
}
.right-ctn .head{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.right-ctn li{
    margin-top: 6px;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    margin-left: 10px;
}
.tip{
    border: 1px solid orange;
    color: orange;
}
.tool{
    float: left;
    width: 10%;
    background-color: #51A2CD;
    margin-top: 5px;
    margin-left: 10px;
}
.tool li{
    line-height: 30px;
    margin: 10px 0;
    text-align: center;
    margin: 5px 0;
}
.tool span{
    background-color: #fff;
    color: #51A2CD;
}
.status{
    background-color: rgb(207, 63, 63);
    color: red;
}
