body{
    font-family: '微软雅黑';
    background-color: #DAE6F4;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix::before,.clearfix::after{
    content: '';
    clear: both;
    display: table;
}
.header{
    width: 960px;
    margin: 0 auto;
}
.top{
    height: 60px;
}
.top .left{
    float: left;
}
.top .left .logo{
    background-color: #eee;
}
.top .left .logo img{
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 6px;
}
.top .left .logo p{
    font-size: 14px;
    color: #757575;
    float: left;
}
.top .right{
    float: right;
}
.top .right img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.top .search{
    width: 200px !important;
}
.menu-list {
    height:40px;
    background-color:#51A2CD ;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.menu-list li{
    width:160px;
    line-height: 40px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.menu-list > li:hover{
    height: 200px;
}
.menu-list > li:hover .child{
    height: 200px;
    transition: all 0.2s;
    background-color: #ffffff;
     position: relative;
    z-index: 99;
    opacity: 1.5;
}
.menu-list > li:hover .child a{
    color: #757575;
}
.menu-list .child{
    height: 0;
    transition: all 0.2s;
}
.menu-list li a{
    display: block;
    color: #fff;
    font-size: 14px;
}
.banner{
    width: 960px;
    margin:0 auto;
}
.main-img img{
    width: 100%;
    height: 300px;
}
.new .act,.new .notice{
    width: 460px;
    float: left;
    margin: 0 5px ;
}
.title{
    color: #51A2CD;
    font-size: 18px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}
.title::before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 60px;
    background-color: #51A2CD;
    left: -10px;
    bottom: -20px;
    position: absolute;

}
.new .new-list{
    height: 330px;
    background-color: #fff;
    padding-top: 20px;
    border-bottom: 2px solid #51A2CD;
}
.new .img-list{
    margin-top: 10px;
}
.new .img-list img{
    width: 130px;
    height: 130px;
    float: left;
    margin: 0 10px;
}
.new .new-list li{
    position: relative;
    color: #757575;
    height: 40px;
    font-size: 14px;
    margin-top: 10px;
}
.new .new-list .time{
    position: absolute;
    right: 0;
    bottom: 5px;
}
.banner .img{
    background-image: url('../images/微信图片_20240514220833.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
}